{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
    <link rel="stylesheet" href="{% static 'products/style.css' %}" />
  </head>

  <body>
    <section class="animation_bg">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </section>

    <nav>
      <div class="nav">
        <div class="Logo">
          <h1>SmartBazaar</h1>
        </div>
        <div>
          <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'product_list' %}">Products</a></li>
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li>
              <a class="btn btn-outline-light" href="{% url 'cart_detail' %}">
                السلة (<span>{{ cart_count|default:0 }}</span>)
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="connection" style="flex-direction: column">
      <div class="connection_form" style="width: 80%">
        <h2>Available Products</h2>

        {% if products %}
        <div
          style="
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 30px;
            margin-top: 30px;
          "
        >
          {% for product in products %}
          <div
            style="
              background: rgba(255, 255, 255, 0.08);
              padding: 20px;
              border-radius: 15px;
              box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
              text-align: center;
            "
          >
            {% if product.image %}
            <img
              src="{{ product.image.url }}"
              alt="{{ product.name }}"
              style="
                width: 50%;
                height: 350px;
                object-fit: cover;
                border-radius: 10px;
              "
            />
            {% else %}
            <div
              style="
                width: 100%;
                height: 200px;
                border-radius: 10px;
                background: rgba(255, 255, 255, 0.1);
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
              "
            >
              No Image
            </div>
            {% endif %}
            <h3 style="color: white; margin-top: 15px">{{ product.name }}</h3>
            <p style="color: rgba(255, 255, 255, 0.7); font-size: 14px">
              {{ product.short_description }}
            </p>
            <p style="color: #30cfe7; font-weight: bold; margin: 10px 0">
              {{ product.price }} $
            </p>
            <p style="color: #30cfe7b4; font-weight: bold; margin: 10px 0">
              {{ product.stock }} in store
            </p>
            <form
              method="post"
              action="{% url 'cart_add' product.id %}"
              class="d-inline"
            >
              {% csrf_token %}
              <input type="hidden" name="qty" value="1" />
              <button class="btn btn-sm btn-success">أضف للسلة</button>
            </form>
          </div>
          {% empty %}
          <p style="color: white">No products available.</p>
          {% endfor %}
        </div>
        {% else %}
        <p style="color: white">No products available.</p>
        {% endif %}
      </div>
    </section>
  </body>
</html>
